<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动化测试平台</title>
</head>

<body style="text-align: center">
    <div style="text-align: center">
        <br><br><br><br><br>
        <h1>欢迎使用   接口自动化测试平台</h1>
    <h3>welcome to ApiTest</h3>
    <br><br>
    <div style="border:2px solid black;width:200px;text-align: left;
    margin-left: -webkit-calc(50% - 100px);padding-left: 10px">
        <h2>如何使用：</h2>
        1.打开左侧菜单<br>
        2.找到所要用的功能<br>
        3.点击进入<br><br>
    </div>

    <br><br>
    <img src="../static/logo.png" alt="图片找不到了。。。" style="width: 400px;">


    </div>


</body>
</html>