<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动化测试平台</title>
</head>

<body >
    <div style="text-align: center">
        <br>
        <h1>欢迎使用   接口自动化测试平台</h1>
        <h3>welcome to ApiTest</h3>
        <div style="text-align: left;margin-left: 300px;color: #4b807d">
            {# 中间添加超链接传送门 #}
            <h3>传送门：</h3>
            <strong>
                {% for i in hrefs %}

                    <a href="{{ i.href }}">{{ i.name }}</a> <br>

                {% endfor %}

            </strong>

        </div>


        <div style="position:absolute;bottom: 5px;right: 8px">
            {#    添加多行文本框#}
        <textarea id="tucao_input"
              cols="45"
              rows="9"
              placeholder="匿名吐槽专用，点击‘呸’ 即可怒喷开发者！"
              style="border-radius: 5px;padding-left: 10px;box-shadow: 4px 4px 9px grey"></textarea>
        <br><br>
        <button id="tc_btn" onclick="pei()" style="border-radius: 5px;background-color: #398e73;color: white" >呸!</button>


        </div>


        <br><br>
        <img src="../static/logo.png" alt="图片找不到了。。。" style="width: 400px;">
    </div>

    <script>
        function pei() {
            $.get("/pei/",{
                "tc_text":document.getElementById("tucao_input").value
            },function (ret) {
                alert('吐槽成功！')
                
            })


        }
    </script>



</body>
</html>