<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试平台登录</title>
    <style>
        body{
            background: url("/static/login.jpg");
            background-attachment: fixed;
            background-size: cover;
        }
        .ys_input{
            width: 90%;
            background-color: #fff7ee;
            border-radius: 50px;
            text-align: center;
            float: right;
            margin-right: 10px;
            height: 30px;
        }
    </style>
    <script src="/static/201908059658/js/jquery-1.11.0.min.js" type="text/javascript"></script>
</head>
<body>
    <div style="margin-left: -webkit-calc(50% - 150px);
                width: 300px;background-color: white;
                opacity: 0.91;border-radius: 10px;text-align: center">
        <br>
        <span style="font-size: xx-large;color: #1e1187">接口测试平台</span>
        <br><br>
        <span>欢迎使用</span>
        <br><br>
            <input id="username" type="text" class="ys_input" placeholder="用户名">
            <br><br>
            <input id="password" type="password" class="ys_input" placeholder="密码">
            <br><br>
            <button onclick="login()" style="width: 24%;height: 30px;border-radius: 6px;background-color: #398e73;color: white;font-size: large">登 陆</button>
        <br><br>
        <span>若首次登陆,请点击 <a href="javascript:register()">注册账号</a></span>
        <br><br>


    </div>

<script>
    //如何把前端信息传给后端？
    //向后端发送HTTP请求
    function login() {
        username = document.getElementById('username').value;
        password = document.getElementById('password').value;
        $.get("/login_action/",{
            "username":username,
            "password":password
        },function (ret) {
            if(ret == '成功'){
                document.location.href = '/home/'
            }
            else {
                alert('您输入的用户名或密码错误！')
            }

        })
    }

    //注册
    function register() {
        username = document.getElementById('username').value;
        password = document.getElementById('password').value;
        $.get("/register/",{
            "username":username,
            "password":password
        },function (ret) {
            alert(ret)
        })


    }
</script>

</body>
</html>